body {
	background-color: powderblue;
	text-align: center;
}

h1 {
	background-color: powderblue;
	color: red;
}
#foret {
	background-color: green;
	font-size: 40px;
	padding: 30px;
	margin:20px;
	color: white;
}
#mer {
	background-color: mediumblue;
	font-size:40px;
	padding: 30px;
	margin:20px;
	color: aliceblue;
}
