body {
	background-color: powderblue;
	text-align: center;
	font-family: verdana;
}

h1{
	background-color: powderblue;
	color: red;

}
#volcan {
	font-size: 60px;
	padding: 30px;
	margin:20px;

}
#foret {
	background-color: #2E8b57;
	border-style: dotted; 
	margin-bottom: 5vw; 
	margin-left: 2vw; 
	padding-bottom: 2.3vw; 
	padding-left: 1vw; 
	padding-right: 1vw; 
	width: 20vw; 
	height: 10vw;
	border-radius: 30vw; 
	letter-spacing: 1px;
 	font-size: 2vw; 
 	font-style: serif; 
 	text-align: center;
	color: white;
}
#mer {
	background-color: mediumblue;
	font-size:40px;
	padding: 30px;
	margin:20px;
	color: aliceblue;
}
#plage {
	background-color :palegoldenrod;
	border-style: dashed; 
	margin-bottom: 5vw; 
	margin-left: 8vw; 
	padding-bottom: 2.3vw; 
	padding-left: 1vw; 
	padding-right: 1vw; 
	width: 20vw; 
	height: 10vw;
	border-radius: 30vw; 
	letter-spacing: 1px;
 	font-size: 5vw; 
 	font-style: serif; 
 	text-align: center;

	color : orange;
}
